<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LanguagePartner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FEE971001C8CDA8C00709515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEE971141C8CDA8C00709515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEE9711F1C8CDA8C00709515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
